:root{
    --main-color:white;
    --primary-color:whitesmoke;
    --secondary-color:black;
}
body{
    background:var(--main-color);
    color:var(--secondary-color);
}

.dark-theme{
    --main-color:#1f242d;
    --primary-color:#323946;
    --secondary-color:white;
}
/*page1 css*/
.home-img{
    margin-top: 50px;
    min-height: 95vh;
    width:100%;
    background-image: url("magnificent-woman-long-bright-skirt-dancing-studio-carefree-inspired-female-model-posing-with-pleasure-yellow.jpg");
    background-position:top 15% right 0;
    background-size: cover;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--secondary-color);
}

.home-img h1{
    font-size:75px ;
    transition: 5s;
}

.home-img h2{
    font-size:55px ;
}

.home-img button{
    margin-top: 15px;
    margin-left: 130px;
    padding: 0.2rem 0.5rem;
    background-color:whitesmoke;
    border-radius: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.4rem;
    border: none;
    letter-spacing: 1.5px;
    color: black;
}

.section-p1{
    padding: 30px 80px;
}
#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#features .fe-box{
    background-color: white;
    width: 180px;
    text-align: center;
    padding:15px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
#features .fe-box img{
    width: 100%;
}
#features .fe-box h6{
    margin-top: 5px;
    line-height: 1;
   padding: 9px 3px 9px 3px;
   color: #088178;
   background-color: pink;
   border-radius: 8px;
}
.fe-box:hover{
  transform: scale(1.1);
    border: 1px solid #cce7d0;
    transition: 0.5s;
}


#product-box{
    text-align: center;
}

.pro{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product-box .product-container{
    width:23%;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 5%;
    margin-top: 7px;
    position: relative;
}
#product-box .product-container .product-img{
    background-color:whitesmoke;
    border-radius: 3%;
    width: 100%;
}
#product-box .product-container .product-img .muskan{
    height: 300px;
    width: 320px;
}
#product-box .product-container:hover{
    padding: 0;
    transform: scale(1.03);
}

#product-box .product-container .product-img img{
     width:100%;
     height: 240px;
}
#product-box .pro .product-container .product-details {
    text-align: start;
    padding: 6px 6px;
}
#product-box .pro .product-container .product-details span{
    font-size: 14px;
    color: #606063;
}

#product-box .pro .product-container .product-details h5{
   font-size: 18px;
   color: var(--secondary-color);
   padding-top: 7px;
}

#product-box .pro .product-container .product-details i{
    font-size: 14px;
    color: rgb(255, 208, 0);
}
#product-box .pro .product-container .product-details h4{
    font-size: 28px;
    padding-top: 7px;
    font-weight: 700;
    color: #088178;
}
.cart{
    font-size: 25px;
    height: 40px;
    width: 40px;
    font-weight: 700;
    line-height: 40px;
    border: 1px solid #cce7d0;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.carty{
    color: #088178;
}

#product-box .product-container1{
    width:23%;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 5%;
    margin-top: 7px;
    position: relative;
}
#product-box .product-container1 .product-img{
    background-color: whitesmoke;
    border-radius: 5%;
    width: 100%;
}
#product-box .product-container1 .product-img img{
     width:100%;
     height: 240px;
}


#product-box .pro .product-container1 .product-details h5{
   font-size: 18px;
   color: var(--secondary-color);
   padding-top: 7px;
}

#product-box .pro .product-container1 .product-details h4{
    text-align: start;
    font-size: 28px;
    padding-top: 7px;
    font-weight: 700;
    color: #088178;
}
#features1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#features1 .fe-box{
    background-color: white;
    width: 15%;
    text-align: center;
    padding:15px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
    border: 1px solid #cce7d0;
    border-radius: 8px;
}
#features1 .fe-box img{
    width: 100%;
}
#news{
    padding: 2px 160px 2px 160px;
    height: 160px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: orange;
    color: white;
    transition: 0.5s;
}
#news .news-text h4{
     color: navy;
     text-align: center;
}
#news .news-button input{
    font-size: 18px;
    padding: 1px 2px 1px 2px;
    font-weight: 700;
}

#news .news-button button{
    font-size: 18px;
    padding: 1px 4px 1px 4px;
    font-weight: 500;
    border-radius: 8px;
    background-color: navy;
    color: white;
}

.hlo{
    height:350px;
}
/*single Product details*/
#prodetails{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#Mainimg{
    height:500px;
}

.backgrimg{
    background-color:var(--primary-color);
    width:100%;
}

#prodetails .single-pro-image
{
    width:40%;
    margin-left: 50px;
}

.small-img-grp{
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
}
.smallimg{
    height:150px;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    background-color: var(--primary-color);
}

#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h3{
   margin-top: 30px;
}
#prodetails .single-pro-details select{
    margin-top: 2rem;
}
#prodetails .single-pro-details h4{
    margin-top: 4.5rem;
    padding-right: 8rem;
}
#prodetails .single-pro-details input{
    margin-top: 2rem;
    width:6rem;
}
#prodetails .single-pro-details button{
    margin-left: 2rem;
    padding: 0.2rem 0.5rem;
   background-color: #0ef;
   box-shadow: 0 0 0.5rem #0ef;
   border-radius: 4rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0.4rem;
    border: none;
}
#prodetails .single-pro-details button:hover{
    box-shadow: none;
    cursor: pointer;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}


/* about.html*/
.about-image{
    margin-top: 50px;
}
.about2{
    margin-top: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:var(--primary-color);
}

.about2left{
    width: 43%;
    padding: 4%;
}

.about2left img{
    width: 100%;
    height: 400px;
}
.about2right{
    width: 57%;
    padding: 4%;
    padding-left: 0%;
    text-align: center;
    align-items:flex-start;
}
.about2right p{
    margin-top: 8px;
    line-height: 35px;
    font-size: 20px;
}

.about3{
    margin-top: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:var(--primary-color);
}
.about3left{
    width: 57%;
    padding: 4%;
    padding-right: 0%;
    text-align: center;
    align-items:flex-start;
}
.about3left p{
    margin-top: 8px;
    line-height: 35px;
    font-size: 20px;
}

.about3right{
    width: 43%;
    padding: 4%;
}

.about3right img{
    width: 100%;
    height: 400px;
}

.about4-heading{
    text-align: center;
    margin-top: 10px;
}

.services h2{
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .services-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap: 6rem;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
  }
  .services-container .services-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
  }
  
  .services-box img{
    width:100%;
  }
  
  .services-box .services-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,.1),pink);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(300%);
    transition: .5s ease;
  
  }
  .services-box:hover .services-layer{
    transform: translateY(0);
  }
  .services-layer h4{
    font-size: 1.4rem;
    font-weight: 700;
  }
  
  .services-layer p{
    font-size: 1.2rem;
    margin: .3rem 0 1rem ;
    font-weight: 600;
    z-index: 12;
  }
  
  .services-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
  }
  
  .services-layer a i{
    font-size: 2rem;
    color:#323946;
  }

  .foot{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding:10px;
    padding-top: 20px;
  }
  #allparts{
    width: 25%;
    text-align: center;
  }

  .part2 ul{
    display: flex;
    flex-direction: column;
  }
/* shop.html*/
.full{
    position: relative;
    margin-top: 65px;
}


.leftside{
    /*width: 60%;*/
    width: 1000px;
    margin: auto;
    margin-top: 55px;
    transition: 0.8s;
    margin-bottom: 20px;
}

.shopping{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-img{
   
    font-size: 31px;
    text-align: center;
    padding: 0;
}

.leftside-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top:20px;
}
.leftside-list .item{
    text-align: center;
    background-color: whitesmoke;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.3rem;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    color: black;
}
.leftside-list .item img{
    width: 90%;
    height:250px ;
    margin-bottom: 10px;
}
.leftside-list .item button{
    background-color:#088178;
    color: #fff;
    border-radius: 5px;
}

.leftside-list .item:hover{
    transform: scale(1.06);
}


.cartbox{
    position: absolute;
    top: -200%;
    left: 75%;
    /*width: 25%;*/
    width: 25%;
     height: 90vh;
    background-color:#08817979;
    transition: 0.8s;
}

.cartbox h4{
    text-align: center;
    color: white;
    background-color:#088178;
    padding: 3px;
}
.buttons{
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0%;
    justify-content: center;
    align-items: center;
}
.closing{
    cursor: pointer;
    width: 50%;
    text-align: center;
    background-color: whitesmoke;
}
.total{
    cursor: pointer;
    width: 50%;
    text-align: center;
    background-color: #088178;
}

.listcard li{
  display: grid;
  grid-template-columns: 100px repeat(3,1fr);
  color:black;
  row-gap: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}


.listcard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listcard li img{
    width: 90%;
    height: 70px;
    background-color: whitesmoke;
}
.listcard li button{
    width: 25px;
    background-color: #fff5;
    color: black;
    border: 1px solid black;
    border-radius: 0;
}
.rating{
    background-color:whitesmoke;
    padding-top:10px;
    padding-bottom:10px;
  }
  
  .star-rating{
    width:50%;
    height: 25vh;
    text-align: center;
    border-radius: 10px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin: auto;
  }
  
  .star{
    font-size: 37px;
    color: orangered;
    border: none;
    background-color: unset;
    cursor: pointer;
  }
  
  .rating h2{
    text-align: center;
    color: navy;
  }
  
  .rating .star-rating p{
    color: navy;
    font-size: 25px;
    letter-spacing: 1px;
  }

  /*contactus.html*/
  .contactus-img{
    margin-top: 70px;
    background-image: url(top-view-blue-monday-concept-composition-with-telephone.jpg);
    height: 70vh;
    background-position:top 70% right 10% ;
    background-size: cover;
    margin-top: 60px;
    padding-left:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: navy;
  }
 .visit-details{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    height: 50vh;
 }
 .visit-details .adress{
    width: 50%;
    padding: 5%;
    height: 48vh;
    border: 1px solid whitesmoke;
 }
 .visit-details .adress i{
    font-size: 30px;
 }
 .visit-details .map{
    width: 50%;
    background-color: #088178;
    height: 48vh;
    border: 1px solid black;
    border-radius: 5px;
 }
 .visit-details .map #map1{
    width: 100%;
    background-color: #088178;
    height: 48vh;
 }
 .visit-details .adress #leftie1{
    display: flex;
    gap:2rem;
 }
 .contact-secondpart{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    height: 50vh;    
 }
 .contact-second-left{
    width: 50%;
    padding: 3%;
    padding-left: 5%;
    height: 48vh;
 }
.firstform{
    display: flex;
    flex-direction: column;
}
.firstform input{
    width: 96%;
    margin-top: 9px;
    border: 1px solid black;
}

.firstform textarea{
    width:96% ;
    margin-top: 9px;
    height: 80px;
}
.firstform button{
    width: 12%;
    margin: auto;
    text-align: center;
    background-color: #0ef;
    border: 1px solid black;
    border-radius: 10px ;
    margin-top: 9px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    
}
@media(max-width:480px)
{
    .section-p1{
        padding: 30px 30px;
    }

    #features{
     justify-content: center;
    }

    #features .fe-box{
        width:230px;
        margin: 8px;
       box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
    

    }

    .home-img{
        height: 60vh;
        background-position: top 30% right 30%;
        padding: 0 10px;
        color: black;
    }
    .home-img h1{
        font-size:65px ;
        transition: 3s;
    }
    
    .home-img h2{
        font-size:40px ;
    }
    
    #product-box .product-container .product-img .muskan{
        height:250px;
        width: 270px;
    }
    #prodetails{
        display: flex;
        flex-direction: column;
    }
 
    #prodetails .single-pro-image
    {
        width:100%;
        margin-left: 0px;
        
    }
    #prodetails .single-pro-image .backgrimg{
        height: 50vh;
        align-items: center;
    }
    #prodetails .single-pro-image .backgrimg #Mainimg{
        height: 50vh;
    }
    #prodetails .small-img-grp .small-img-col{
        height: 14vh;
    }
    #prodetails .small-img-grp .small-img-col .smallimg{
        height: 14vh;
    }
    #prodetails .single-pro-details{
        width: 100%;
        padding-top: 30px;
    }

    #product-box .product-container{
        width:98%;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
    }
  
    #product-box .product-container .product-img img{
        width:100%;
        height: 200px;
   }

   #product-box .product-container1{
    width:48%;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 5%;
    margin-top: 7px;
    position: relative;
   }
   #product-box .product-container1 .product-img img{
    width:100%;
    height: 160px;
   }
   #features1 .fe-box{
    width: 48%;
    } 
   #news{
    padding: 2px 2px 2px 2px;
    height: 140px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: white;
}
   .hlo{
    height: 200px;
   }

   .cartbox{
    position: absolute;
    top: -200%;
    left: 0%;
    /*width: 25%;*/
    width: 100%;
     height: 150vh;
    background-color: #606063;
    transition: 0.8s;
}

.leftside-list{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    padding-left: 15px;
    padding-right: 15px;
}
.leftside{
    /*width: 60%;*/
    width: 100%;
    margin: auto;
    margin-top: 50px;
    transition: 0.8s;
    margin-bottom: 20px;
}
.contactus-img{
    height: 40vh;
    background-position:top 20%  left 10%;
    background-size: cover;
    margin-top: 60px;
    padding-left:52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.1s;
  }
  .visit-details{
    display: flex;
    flex-direction: column;
    height: 60vh;
 }

 .visit-details .adress{
    width: 100%;
    padding: 1.5%;
    height: 28vh;
    border: 1px solid whitesmoke;
 }

 .visit-details .adress #leftie1 {
    margin-top: 10px;
  }

 .visit-details .adress #leftie1 p{
   font-size: 20px;
 }

 .visit-details .map{
    margin-top: 30px;
    width: 100%;
    background-color: #088178;
    height: 30vh;
 }

 .visit-details .map #map1{
    width: 100%;
    background-color: #088178;
    height: 30vh;
 }

 .contact-secondpart{
    display: flex;
   flex-direction: column;
    height: 80vh;  
  margin-top: 30px;
 }
 .contact-second-left{
    width: 100%;
    padding: 3%;
    padding-left: 5%;
    height: 45vh;
    margin-bottom:70px ;
 }
 .star-rating{
    width:100%;
    height: 25vh;
    border-radius: 10px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin: auto;
    margin-top: 10px;
  }
  .firstform button{
    width: 28%;
    margin-top: 10px;
    font-size: 22px;
    color:black;
    padding-top:2px;
    padding-bottom: 2px;
}
.firstform input{
    width: 98%;
    margin-top: 5px;
    border: 1px solid black;
    font-size: 18px;
}

.firstform textarea{
    width:98% ;
    margin-top: 15px;
    height: 100px;
    outline: 1px solid #1f242d;
}


.about2{
    margin-top: 15px;
    flex-direction: column-reverse;
}

.about2left{
    width: 90%;
    padding: 4%;
}

.about2left img{
    width: 100%;
    height: 300px;
}
.about2right{
    width: 100%;
    padding: 4%;
    padding-left: 4%;
    text-align: center;
    align-items:flex-start;
}
.about2right p{
    margin-top: 8px;
    line-height: 30px;
    font-size: 18px;
}
.about3{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
.about3left{
    width: 100%;
    padding: 4%;
    padding-right: 4%;
}
.about3left p{
    margin-top: 8px;
    line-height: 30px;
    font-size: 18px;
}

.about3right{
    width: 90%;
    padding: 4%;
}

.about3right img{
    width: 100%;
    height: 300px;
}

.services-container{
    display:flex;
    flex-direction: column;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
    gap:3rem;
  }

  .services-layer h4{
    font-size: 1.2rem;
  }
  
  .services-layer p{
    font-size: 1.3rem;
    margin: .3rem 0 1rem ;
  }
  
  .services-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
  }
  
  .services-layer a i{
    font-size: 2rem;
    color:#323946;
  }
  .foot{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
  }

  #allparts{
    width: 100%;
    text-align: center;
  }
  .leftside-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top:20px;
}
.leftside-list .item{
    text-align: center;
    background-color: whitesmoke;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    color: black;
}
.leftside-list .item img{
    width: 100%;
    height:140px ;
    margin-bottom: 10px;
}
.leftside-list .item button{
    background-color:#088178;
    color: #fff;
    border-radius: 5px;
}
.home-img button{
    margin-top: 15px;
    margin-left: 90px;
    padding: 0.2rem 0.5rem;
    background-color:whitesmoke;
    border-radius: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.4rem;
    border: none;
    letter-spacing: 1.5px;
    color: black;
}
.services-layer p{
    font-size: 1.2rem;
    margin: .3rem 0 0.3rem ;
    font-weight: 600;
    z-index: 12;
  }
  
  .cartbox{
    background-color:#08817979;
    height:75vh
}

.leftside-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top:800px;
}
#news{
background-color: orange;
}
}